<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trigger Test</title>
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <!-- <script src="js/lib/three/src/Three.js"></script> -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/110/three.min.js" integrity="sha256-gSh8eotzb/CVvCREGPUNgIWuDnTYnZvVOQnRrP1eDjI=" crossorigin="anonymous"></script> -->
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tone/14.6.13/Tone.js" integrity="sha256-RSytrIITejqUkdbXnSiNDnYXena49Obuopq531gzIX4=" crossorigin="anonymous"></script>
    <script src="js/tests/trigger.js" type="module"></script>
</body>
    <button id="btn">CLICK ME</button>
</html>